:root {
  --primary-black: #0A0A0A;
  --primary-grey: #222222;
  --primary-white: #FFFFFF;
  --primary-blue: #2270E2;
  --secondary-blue: #144893;
  --secondary-grey:#817E7E;
  --dark-purple: #434655;


}