@import 'colors.css';
@import "font-sizes.css";

@font-face {
    font-family: 'BoldMontserrat';
    src:local('BoldMontserrat'),
        url(../fonts/Montserrat-Bold.ttf) ;
}

@font-face {
    font-family: 'BoldPlayfairDisplay';
    src:local('BoldPlayfairDisplay'),
    url(../fonts/PlayfairDisplay-Bold.ttf) ;
}

@font-face {
    font-family: 'BoldOpenSans';
    src:local('BoldOpenSans'),
    url(../fonts/OpenSans-Bold.ttf) ;
}
@font-face {
    font-family: 'SemiBoldOpenSans';
    src:local('SemiBoldOpenSans'),
    url(../fonts/OpenSans-SemiBold.ttf) ;
}
@font-face {
    font-family: 'OpenSans';
    src:local('OpenSans'),
    url(../fonts/OpenSans-Regular.ttf) ;
}

.hr-line{
    width: 750px;
    border:none;
    background: #0498C9;
    height: 2px;
}
.snd-button{
    background-color: var(--primary-white);
    border-radius: 15px;
    color:var(--primary-black);

}
.prm-button{
    background-color: var(--secondary-blue);
    border-radius: 15px;
    color:var(--primary-white);
}

.divCenter{
    display: flex;
    justify-content: center;
}
.flexColumn{
    flex-direction: column;
}
.boldSans{
    font-family: BoldOpenSans,sans-serif;
    font-weight: bold;
}
*{
    font-family:OpenSans,sans-serif;
}